if SHIELD_TUBETEST_LEFT

config ZMK_KEYBOARD_NAME
    default "split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TUBETEST_LEFT || SHIELD_TUBETEST_RIGHT

config ZMK_SPLIT
    default y

endif
